#background {
    background-color:rgb(89, 154, 238);
}

.button-1, .button-2, .button-3, .button-4 {
    width: 100px; 
    height: 100px;
}

.jewel {
  margin-right: 10px;
}

.col-lg-8 {
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

#jumbo {
    background-color: rgb(18, 73, 167);
  }

#title {
    margin-left: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}